## DataFrame

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
df_dummy = {
    'col_1' : ['A', 'B', None, 'D'],
    'col_2' : [1, None, None, 4],
    'col_3' : ['A1', 'B2', 'C3', None],    
}

### Membuat DataFrame

In [23]:
df_dummy = pd.DataFrame(df_dummy)

###  Mengecek Data Null

In [13]:
df_dummy.isna()

   col_1  col_2  col_3
0  False  False  False
1  False   True  False
2   True   True  False
3  False  False   True

In [14]:
df_dummy.isna().sum()

col_1    1
col_2    2
col_3    1
dtype: int64

In [15]:
df_dummy.notna()

   col_1  col_2  col_3
0   True   True   True
1   True  False   True
2  False  False   True
3   True   True  False

### Mengisi data null

In [16]:
df_dummy.fillna('Loss')

  col_1 col_2 col_3
0     A     1    A1
1     B  Loss    B2
2  Loss  Loss    C3
3     D     4  Loss

In [17]:
df_dummy.fillna('Loss', inplace = True) # Mengisi secara permanen

In [18]:
df_dummy.fillna(method = 'bfill') # Mengisi dari data di bawahnya

  col_1 col_2 col_3
0     A     1    A1
1     B  Loss    B2
2  Loss  Loss    C3
3     D     4  Loss

In [27]:
fillna_rules = {
    'col_1': 'c',
    'col_2': df_dummy.col_2.mean(),
    'col_3': df_dummy.col_3.fillna(method = 'ffill')
}

In [28]:
df_dummy.fillna(fillna_rules)

  col_1  col_2 col_3
0     A    1.0    A1
1     B    2.5    B2
2     c    2.5    C3
3     D    4.0    C3

### Sorting

In [30]:
from sklearn import datasets
from sklearn.decomposition import PCA

In [42]:
df_iris = pd.DataFrame(data=iris.data, columns=iris.feature_names)

In [43]:
df_iris.tail()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

### Filtering

In [45]:
df_iris.iloc[[0,2],[1,3]] # df_iris.iloc[[baris],[kolom]]

   sepal width (cm)  petal width (cm)
0               3.5               0.2
2               3.2               0.2

### New Column

In [47]:
df_iris['sepal length (mm)'] = df_iris['sepal length (cm)'] * 10
df_iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal length (mm)
0,5.1,3.5,1.4,0.2,51.0
1,4.9,3.0,1.4,0.2,49.0
2,4.7,3.2,1.3,0.2,47.0
3,4.6,3.1,1.5,0.2,46.0
4,5.0,3.6,1.4,0.2,50.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,67.0
146,6.3,2.5,5.0,1.9,63.0
147,6.5,3.0,5.2,2.0,65.0
148,6.2,3.4,5.4,2.3,62.0
149,5.9,3.0,5.1,1.8,59.0

In [50]:
new_value = df['sepal width (cm)'] * 10
df_iris.insert(loc= 2, column='Sepal Width (mm)', value=new_value) # Memasukkan kolom baru pada posisi tertentu
df_iris

,sepal length (cm),sepal width (cm),Sepal Width (mm),petal length (cm),petal width (cm),sepal length (mm)
0,5.1,3.5,35.0,1.4,0.2,51.0
1,4.9,3.0,30.0,1.4,0.2,49.0
2,4.7,3.2,32.0,1.3,0.2,47.0
3,4.6,3.1,31.0,1.5,0.2,46.0
4,5.0,3.6,36.0,1.4,0.2,50.0
...,...,...,...,...,...,...
145,6.7,3.0,30.0,5.2,2.3,67.0
146,6.3,2.5,25.0,5.0,1.9,63.0
147,6.5,3.0,30.0,5.2,2.0,65.0
148,6.2,3.4,34.0,5.4,2.3,62.0
149,5.9,3.0,30.0,5.1,1.8,59.0